<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/c6a12c5c-11cb-4fbb-b70c-29ed724bc00a/resourceGroups/dotnet-container-rg-poc-aueast/providers/Microsoft.ContainerRegistry/registries/DotNetContainerCrPocAueast</ContainerResourceId>
    <ContainerResourceName>DotNetContainerCrPocAueast</ContainerResourceName>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>dotnetcontainercrpocaueast.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>containerappapifeb2024</ContainerName>
    <EnvironmentName>ContainerAppAPI-env-Feb2024</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://containerappapi-app-feb2024.proudmushroom-2f7dc7fc.australiaeast.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <ResourceId>/subscriptions/c6a12c5c-11cb-4fbb-b70c-29ed724bc00a/resourceGroups/dotnet-container-rg-poc-aueast/providers/Microsoft.App/containerApps/containerappapi-app-feb2024</ResourceId>
    <ResourceGroup>dotnet-container-rg-poc-aueast</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net8.0</TargetFramework>
    <ProjectGuid>644620e7-29ac-41fb-ab01-bfa6882a9d90</ProjectGuid>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>